@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root{
    --lightDark:#212936;
    --dark:#141722;
    --fontPrimary:#fff;
    --green:#35bb78;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     color:var(--fontPrimary);  
    font-family:"Montserrat", sans-serif;
}
body{
    background-color: var(--lightDark);

}
/* nav... */
.nav{
    background-color: var(--dark);
    display: flex;
     padding: 15px 30px; 
     justify-content: space-between; 

}
.nav img{
 width: 200px;
 /* align-items: center; */
 /* justify-content: center; */
}
.avatar{
    display: flex;
     align-items: center; 
 justify-content: center;   
}
.nav .avatar img{
    width: 30px;

}
.avatar p{
    margin-left: 10px;
    font-size: 14px;
    color: var(--white);
    font-weight: bold;
}
/* main body..... */
.main{
    display: grid;
       grid-template-columns: 2.3fr 1fr; 
     
     grid-gap: 20px;
     padding: 30px;  
}
.flex{
    display: flex;
}
.checkbox{
    width: 40px;
} 
/* img */
 .milestoneDetails .milestoneImage{
      width: 100%;  
      height: auto;  
      object-fit: cover;  
      border-radius: 7px; 
      /* -webkit-transition: opacity 0.8s linear; */
      /* -moz-transition: opacity 0.8s linear; */ 
     /* transition: opacity 0.8s linear;  */ 
} 
.title,
.details{
     margin: 10px auto; 
     padding: 5px 10px;
}
.milestoneDetails {
    font-size: 14px;
    color: var(--white);
  }
  .milestone,
  .module{
    font-size: 14px;
      margin: 10px; 
     padding: 10px;   
    /* background-color: var(--dark);  */
  }
   .module{
    background-color: var(--dark);
  } 
  .border-b{
    border-bottom: 1px solid rgb(31,41,55);
    /* border-bottom: 1px solid red; */
  }
  .milestones,
  .doneList{
   background-color: var(--dark); 
    border-radius: 7px; 
    cursor: pointer;
    max-height: 465px;
     overflow:auto; 
  }
  .doneList{
    /* border: 2px solid wheat; */
     margin-top: 20px; 
  }

  .hidden_panel{
     max-height:0; 
      overflow: hidden;   
  }
  /*.................  */
.active {
  font-weight: bold;
}

.show {
  max-height: 400px;
}

.loaded {
  opacity: 1;
}
/* ................. */
  input[type="checkbox"]{
    margin-right: 5px;
    vertical-align: middle;

  }
  @media  screen and (max-width: 1024px){
        .main{
          grid-template-columns: repeat(1, 1fr);
          padding: 15px;
          grid-gap: 15px;
        }
        .nav img {
          width: 150px;
        }
      
        .nav .avatar img {
          width: 20px;
          height: 20px;
        }
      
        .milestones,
        .doneList {
          height: fit-content;
        }
  }
    
  